/*==
 * Nuxt.js & TailwindCSS Portfolio Main CSS File
*/

/* Heading decoration */
.heading-decoration::after {
  content: "";
  width: 32px;
  height: 3px;
  background-color: #de1c24;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.66rem;
}

/* Page transition */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

/* Active page link style */
.nuxt-link-active,
.nuxt-link-exact-active {
  @apply text-my-blue !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Local font */
  @font-face {
    font-family: Manrope;
    font-weight: 200;
    src: url(./fonts/Manrope/Manrope-ExtraLight.ttf);
  }
  @font-face {
    font-family: Manrope;
    font-weight: 300;
    src: url(./fonts/Manrope/Manrope-Light.ttf);
  }
  @font-face {
    font-family: Manrope;
    font-weight: 400;
    src: url(./fonts/Manrope/Manrope-Regular.ttf);
  }
  @font-face {
    font-family: Manrope;
    font-weight: 500;
    src: url(./fonts/Manrope/Manrope-Medium.ttf);
  }
  @font-face {
    font-family: Manrope;
    font-weight: 600;
    src: url(./fonts/Manrope/Manrope-SemiBold.ttf);
  }
  @font-face {
    font-family: Manrope;
    font-weight: 700;
    src: url(./fonts/Manrope/Manrope-Bold.ttf);
  }
  @font-face {
    font-family: Manrope;
    font-weight: 800;
    src: url(./fonts/Manrope/Manrope-ExtraBold.ttf);
  }
  /* Link color */
  a {
    @apply text-my-blue;
    @apply font-medium;
  }
}
